{% extends 'layout.njk' %}
{% block title %}
    {{ title }}
{% endblock %}
{% block main %}
    {% if not message %}
        <p>No messages!</p>
    {% endif %}
    <h1>
        {{ message }}
    </h1>
    <form action="/buy" method="post">
        <input type="text" autocomplete="off" placeholder="Ticker" name="ticker">
        <input type="number" autocomplete="off" name="quantity" placeholder="Quantity">
        <input type="submit" value="BUY">
    </form>
{% endblock %}