{% extends 'layout.njk' %}
{% block title %}
    {{ title }}
{% endblock %}
{% block main %}
    {% if not message %}
        <p>No messages!</p>
    {% endif %}
    <h1>
        {{ message }}
    </h1>
    <form action="/" method="post">
        <input type="text" autocomplete="off" name="userAnswer">
        <input type="submit" value="SEND">
    </form>
{% endblock %}