{% extends 'layout.njk' %}
{% block title %}
    {{ title }}
{% endblock %}
{% block main %}
    {% if balance %}
    <h1>
        Balance: {{ balance | usd }}
    </h1>
    {% endif %}
    <h1>
        {{ message }}
    </h1>
    <form action="/buy" method="post">
        <div class="mb-3">
            <p><input class="form-control mx-auto w-auto" type="text" autocomplete="off" placeholder="Ticker" name="ticker"></p>
            <p><input class="form-control mx-auto w-auto" type="number" autocomplete="off" name="quantity" placeholder="Quantity"></p>
        </div>
        <input type="submit" value="BUY">
    </form>
{% endblock %}