{% extends 'layout.njk' %}
{% block title %}
    {{ title }}
{% endblock %}
{% block main %}
    {% if not message %}
        <p>No messages!</p>
    {% endif %}
    <h1>
        {{ message }}
    </h1>
    {% if transactions %}
    <table class="fs-4 mb-6 container-fluid py-6 text-center">
        <thead class="fs-2">
            <tr>
                <th>Transaction Type</th>
                <th>Name</th>
                <th>Stock Value</th>
                <th>Quantity</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            {% for t in transactions %}
                {% if t.quantity < 0 %}
                    <tr class="mt-3 mb-4">
                        <th class="cred">{{ t.transaction_type }}</th>
                        <th>{{ t.stock }}</th>
                        <th>{{ t.stock_value | usd }}</th>
                        <th class="cred">{{ t.quantity }}</th>
                        <th>{{ t.transaction_date }}</th>
                    </tr>
                {% else %}
                    <tr class="mt-3 mb-4">
                        <th class="cgreen">{{ t.transaction_type }}</th>
                        <th>{{ t.stock }}</th>
                        <th>{{ t.stock_value | usd }}</th>
                        <th class="cgreen">{{ t.quantity }}</th>
                        <th>{{ t.transaction_date }}</th>
                    </tr>
                    {% endif %}
            {% endfor %}
        </tbody>
    </table>
    {% endif %}
{% endblock %}