{% extends 'layout.njk' %}
{% block title %}
    {{ title }}
{% endblock %}
{% block main %}
    {% if message %}
        <p>{{ message }}</p>
    {% endif %}
    <h1 class="display-1">
        <p>{{ name }}</p>
        <p>{{ price | usd }}</p>
    </h1>
    
{% endblock %}