{% extends 'layout.njk' %}
{% block title %}
    {{ title }}
{% endblock %}
{% block main %}
    {% if not message %}
        <p>No messages!</p>
    {% endif %}
    <h1>
        {{ message }}
    </h1>
    <form action="/register" method="post">
        <input type="text" required autocomplete="off" name="username">
        <input type="password" required autocomplete="off" name="password">
        <input type="password" required autocomplete="off" name="confirmation">
        <input type="submit" value="Register">
    </form>
{% endblock %}