{% extends 'layout.njk' %}
{% block title %}
    {{ title }}
{% endblock %}
{% block main %}
    {% if not message %}
        <p>No messages!</p>
    {% endif %}
    <h1>
        {{ message }}
    </h1>
    <form action="/register" method="post">
        <div class="mb-3"><input type="text" required autofocus class="form-control mx-auto w-auto" placeholder="Username:" autocomplete="off" name="username"></div>
        <div class="mb-3"><input type="password" required autofocus class="form-control mx-auto w-auto" placeholder="Password:" autocomplete="off" name="password"></div>
        <div class="mb-3"><input type="password" required autofocus class="form-control mx-auto w-auto" placeholder="Password:" autocomplete="off" name="confirmation"></div>
        <div class="mb-3"><input type="submit" value="Register"></div>
    </form>
{% endblock %}