{% extends 'layout.njk' %}
{% block title %}
    {{ title }}
{% endblock %}
{% block main %}
    {% if not message %}
        <p>No messages!</p>
    {% endif %}
    <h1>
        {{ message }}
    </h1>

    <form action="/sell" method="post">
        <select name="stock">
            {% for s, q in user_stocks %}
                <option value={{ s }}>{{ s }}</option>
            {% endfor %}
        </select>
        <input type="number" name="quantity">
        <input type="submit" value="Sell">
    </form>
{% endblock %}